/* Postman Clone */

.container h1 {
  text-align: center;
  color: purple;
}
body {
  font-family: "Times New Roman", serif;
  font-style: italic;
  font-weight: 500;
}
#pre {
  max-height: 400px;
}
